<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            body {
                margin: 0;
            }
            #main {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="main"></div>
        <h3 id="time" style="z-index: 9999;position: fixed;right:70px;top:100px;color:#333300"></h3>
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E4308eed7d37dd41b6bdb3fd8b443b4b"></script>
        <script src="http://echarts.baidu.com/doc/asset/js/jquery.min.js"></script>
        <script src="/static/1-1.js"></script>
    </body>
</html>